@{
    ViewData["Title"] = "Bioscopen";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Bioscopen.css">
</head>
<body>
        <div class="mainsectionlocaties">
            <div class="mainpagetitel"><h1><strong>Bioscopen</strong></h1></div>
            <ul>
                <li><img src="css/img/WestfieldMallOfTheNetherlands.png" alt="Img 1" /></li>
                <li><img src="css/img/Utrechtbios.png" alt="Img 2" /></li>
                <li><img src="css/img/MaastrichtBios.png" alt="Img 3" /></li>
                <li><img src="css/img/Leewardenbios.png" alt="Img 4" /></li>
                <li><img src="css/img/Zwolle.png" alt="Img 5" /></li>
                <li><img src="css/img/Antwerpen.png" alt="Img 6" /></li>
            </ul>
        </div>
    </body>
</html>
