@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
	</head>
	<body>
 <br><br>
		<div class="slide hi-slide">
		  <div class="hi-prev "></div>
			<div class="hi-next "></div>
			<h1>Top films</h1>
			<ul>
				<li>
				<img src="css/img/Antmanfilm.png" alt="Img 1" /></li>
            <li><img src="css/img//Despicableme2.png" alt="Img 2" /></li>
            <li><img src="css/img/Frozen2.png" alt="Img 3" /></li>
            <li><img src="css/img/PlaneFilm.png" alt="Img 4" /></li>
            <li><img src="css/img/pussinbootsFilm.png" alt="Img 5" /></li>
            <li><img src="css/img/Sing2Film.png" alt="Img 6" /></li>
            <li><img src="css/img/SintFilm.png" alt="Img 7" /></li>
            <li><img src="css/img/winniethepoohorrorFilm.png" alt="Img 7" /></li>
			</ul>
		</div>
		
		
		
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="js/jquery.hislide.js" ></script>
		<script>
			$('.slide').hiSlide();
		</script>
	</body>
    
</html>

